{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "spongebob\\sponge.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "naguto.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "stage\\main.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth3.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth6.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "dragon.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "sakura\\sakura_win.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "playnow.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "spongebob\\sponge_spe.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "stage\\reward3.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar12.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar5.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "dragon_lose.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "def.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "fire1.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "atk.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth4.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth1.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar3.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth8.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "home.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "dragon_cup.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth5.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "dragon_def.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bleach_die.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "naruto_def.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "sakura\\sakura-lose.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar4.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "selectcha.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "stage\\CELEBRATE.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "stage\\reward2.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "chakragain.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "stage\\pick.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bleach_atk.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "stage\\reward.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "sakura\\sakura_def.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "naruto_win.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "HEAD.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "x2dame.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "shield.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar8.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "spongebob\\sponge_def.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "sakura\\sakura_atk.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "dragon_spe_fire.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "fire2.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "title1.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "mauvang_3.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar7.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "selectcha2.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "spongebob\\sponge_atk.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "stage\\train.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bleach_spe.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "mauboss.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bleach.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth9.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar1.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "dragon_atk.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth2.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "dragon_spe.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "spongebob\\spong_lock.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar11.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "healthplus.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "stage\\stage2.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "naruto_spe.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "naruto_die.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "sakura\\sakura.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "gameover.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "dummy.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar10.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "mauvang_2.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "nut.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "sakura\\sakura_spe.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth7.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar2.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "sword.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "stage\\stage1.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "trophy.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "youwin.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "barbleach\\barhealth0.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "spe.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "leftarrow.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "spongebob\\punch.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "naruto_atk.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bleach_def.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bleach_win.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar6.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "nut1.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "bar9.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "rightarrow.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "sakura\\sakura_lock.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      }
    },
    "rgb_compression": "no"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0",
    "cache_size": 4096,
    "copy_translations_to_ram": "no"
  }
}